/* single line and multi-line comment format */

h1 {
    color: teal;
    text-decoration: underline indianred;
}

div {
    height: 400px;
    width: 150px;
    background-color: burlywood;
    box-shadow: -10px 10px black;
}

.salutations {
    color: sienna;
    text-decoration: overline;
}

.cena {
    width: 40px;
}

.fancy-header1 {
    color: chocolate;
}

#welcome {
    color: darkolivegreen;
}

h2, p {
    color: darkblue;
    background-color: antiquewhite;
}

.green-text {
    color: green;
}

.light-bg {
    background-color: blanchedalmond;
}

section p {
    text-decoration: underline darkred;
}

section>p {
    color: crimson;
}

span {
    /*display: none;*/
    /*visibility: hidden;*/
}

body {
    background-image: url('https://mdn.mozillademos.org/files/7693/catfront.png');
    /*background-repeat: no-repeat;*/
    /*background-image: url("../img/codeup_arrow.png");*/
    background-blend-mode: overlay;
    opacity: 90%;
    animation: picturePop 5s;
}

@keyframes picturePop {
    0% {
        transform: scale(0.3);
        opacity: 90%;
    }
    60% {
        transform: scale(1.1);
        opacity: 90%;
    }
    100% {
        transform: scale(1);
        opacity: 90%;
    }
}

