body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
    position: absolute;
    float: left;
}

div {
    border: solid lightgray 1px;
    border-radius: 2%;
    margin-top: 10px;
    padding: 5px;
    width: 90%;
    position: relative;
    top: auto;
    right: auto;
}

.message-info {
    background-color: rgba(205, 222, 255, .9);
    color: darkblue;

}

.message-success {
    background-color: rgba(210, 255 ,220, .9);
    color: darkgreen;

}

.message-warning {
    background-color: rgba(252, 251, 201, .9);
    color: goldenrod;
}

.message-error {
    background-color: rgba(250, 211, 215, .9);
    color: darkred;
}